@import "../../styles/_variables.scss";

#list {
  width: 100%;
  display: flex;
  padding: 10px;

  .card-content {
    background-color: rgba($color-black, 0.4);
    border-radius: 6px;
    padding-top: 80px;
    position: relative;

    .title {
      background-color: rgba($color-black, 0.3);
      display: flex;
      font-weight: 600;
      height: 50px;
      overflow: hidden;
      padding: 5px 10px;
      text-align: center;
      text-overflow: ellipsis;

      a {
        margin: auto;
      }
    }

    .card-body {
      .bp3-divider {
        border-color: rgba($color-black, 0.5);
      }

      > div {
        margin-bottom: 10px;
        padding: 0 10px;
        text-align: center;

        &.actions {
          padding: 0 10px 10px;
        }

        &.intro {
          height: 30px;
        }
      }
    }

    .avatar {
      border: 6px solid rgba($color-black, 0.2);
      border-radius: 10px;
      height: auto;
      margin: -120px auto 10px;
      position: relative;
      overflow: hidden;
      width: 90%;
    }

    .actions {
      width: 100%;
      padding: 4px;

      > div {
        margin-bottom: 10px;
      }
    }
  }

  .list-grid,
  .list-table {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .list-grid {
    &:after {
      content: "";
      flex: 1 1 25%;
    }

    .card {
      flex: 1 1 25%;
      max-width: 100%;
      min-width: 280px;
      padding: 50px 10px 10px;
    }
  }

  .list-table {
    .card {
      margin-bottom: 6px;
      width: 100%;

      .card-content {
        display: flex;
        padding: 0;

        .card-body {
          display: flex;
          flex: 1;
          flex-direction: column;
          justify-content: space-between;

          > div {
            padding: 0 10px;
            text-align: left;
          }

          .title {
            background-color: transparent;
            display: block;
            height: auto;
            margin-top: 10px;
          }

          .intro {
            height: auto;
          }

          .actions {
            display: flex;
            justify-content: space-between;

            .bp3-button-group {
              margin: 0 10px 0 0;
            }

            .bp3-fill {
              width: auto;
            }
          }
        }

        .avatar {
          border-color: transparent;
          margin: 0;
          max-width: 200px;
          min-width: 180px;
        }
      }
    }
  }
}
