@import "../../styles/_variables.scss";

#bandProfile {
  .profile {
    > div {
      margin-bottom: 20px;
    }
  }

  .avatar {
    border: 6px solid rgba($color-black, 0.2);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .band-members {
    display: flex;

    > a {
      height: 80px;
      margin-right: 5px;
      width: 80px;

      img {
        border: 4px solid rgba($color-black, 0.2);
        border-radius: 10px;
        height: 100%;
        width: 100%;
      }

      &:hover {
        img {
          border: 4px solid rgba($color-black, 0.5);
        }
      }
    }
  }
}
