@import "../../styles/_variables.scss";

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;

  .container {
    background-color: rgba($dark-gray1, 0.1);
    flex: 1;
    margin: 0 auto;
    max-width: 1280px;
    padding: 10px 20px 20px;
    width: 100%;
  }
}

.float-up {
  position: absolute;
  z-index: 1;
}

.hidden {
  display: none !important;
}

header {
  background-color: rgba($color-black, 0.3);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 10px;
    width: 100%;

    .bp3-navbar-heading {
      display: inline-block;
      font-family: "Syncopate", sans-serif;
      font-size: 18px;
      font-weight: bold;
      margin: 0 20px 0 10px;
      text-transform: uppercase;
      color: rgba($violet5, 0.4);

      & + .bp3-navbar-group {
        flex: 1;
      }
    }
  }
}
