@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

footer {
  justify-content: center;
  background-color: rgba($color-black, 0.3);
  display: flex;
  padding: 40px 0 80px;
  width: 100%;

  @include bp($lt-md) {
    padding-top: 0;
  }

  .col {
    @include bp($lt-md) {
      text-align: center;
    }
  }

  .brand {
    display: flex;
    flex-direction: column;

    @include bp($lt-md) {
      background-color: rgba($color-black, 0.1);
      border-bottom: 1px solid rgba($color-black, 0.2);
      margin-bottom: 20px;
    }
  }

  h4 {
    color: rgba($violet5, 0.8);
    margin-top: 0;
  }

  a {
    color: rgba($gray4, 0.8) !important;
    display: block;
    margin-bottom: 10px;

    &.bold {
      font-weight: bold;
    }
  }

  .company {
    font-family: "Syncopate", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba($violet5, 0.4);
  }

  .copyright {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 0.5;
    padding: 10px 0;
  }
}
