@import "../../styles/_variables.scss";

header {
  background-color: rgba($color-black, 0.3);
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 10px;
    width: 100%;

    .bp3-navbar-heading {
      display: inline-block;
      font-family: "Syncopate", sans-serif;
      font-weight: bold;
      margin: 0 20px 0 10px;
      text-transform: uppercase;
      color: rgba($color-white, 0.9);

      span {
        margin-right: 6px;
      }

      & + .bp3-navbar-group {
        flex: 1;
      }
    }
  }
}
